html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar; 
}
body {
    min-height: 100%;
    min-width: 320px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    background-color: #f8f9fa;
}
body::-webkit-scrollbar {
    display: none; 
}
.nav-link {
    padding: .5rem .8rem;
}

.site-name {
    font-size: 1.50rem;
    letter-spacing: .1rem;
}
.tagline {
    position: relative;
    top: -5px;    
    font-size: .82rem;
    letter-spacing: .1rem;
}
.text-lightprimary {
    color: #BBDEFB!important;
}
.active {
    color:#fff!important;
}
.bg-lightgray {
    background-color: #f0f0f0;
}
.page-header {
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.gray-box-2d {
    padding: 15px;
    background: rgba(0,0,0,0.03);
    -webkit-box-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.bg-opacity {
    background-color: rgba(0,0,0,0.1);
}
.breadcrumb {
    display: inline;
    font-size: 75%;
    font-weight: normal;
}
.breadcrumb__separator {
    color: #BBDEFB;
}
.breadcrumb__link,
.breadcrumb__link:hover {
    color: #BBDEFB;
    text-decoration: none;
}
.breadcrumb__link__active {
    color: #fff;
}
.goTop {
    position: fixed;
    display: block;
    right: 75px;
    bottom: 0;
    background-color: #263238;
    border-radius: 4px 4px 0 0;
    color: #fff;
    width: 48px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    opacity: .9;
    z-index: 100000;
}
.goTop:hover {
    color: #ffc107;
}


.site-nav__open,
.site-nav__close {
    position: relative;
    display: block;
    z-index: 2;   
}

.site-nav__list {
    margin: 0;
    padding-top: 1.6rem;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    will-change: transform;
    background-color:#0D47A1;
    text-align: center;
}
.site-nav__active {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

@media(min-width:768px){
    .site-nav__open,
    .site-nav__close {
        display: none;
    }
    .site-nav__list {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        padding: 0;
        background: none;
        overflow: visible;
        backdrop-filter: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
      }  
}