html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
}

body {
    min-height: 100%;
    min-width: 320px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    background-color: #f8f9fa;
    color:#031b4e;
}

body::-webkit-scrollbar {
    display: none;
}

mark, .mark {
    border-radius: 2px;
    background-color: rgba(238, 238, 238, 0.9);
    //rgba(252, 248, 227, 0.9)
    font-weight: 300;
}
.portrait {
    max-width: 261px;
}
.trusted-by-upwork {
    position: relative;
    z-index: 2;
}

.hero-banner-bg-primary {
    position: relative;
    background-image: linear-gradient(to right top, #2962ff, #455eff, #5a59ff, #6c53ff, #7c4dff);
}
/*
.hero-banner-bg-primary * {
    z-index: 1;
}
*/

.social-media-icons {
    max-width: 166px;
}

.cloud-shape:before {
    -webkit-clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);
    clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);
}

.cloud-shape:before {
    content: "";
    position: absolute;
    display: block;
    height: 380px;
    bottom: -380px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, #2962ff, #5a59ff);
    z-index: 1;
}



.name-brand {
    position: relative;
    z-index: 2;
}

.lead {
    font-size: 1.2rem;
}

.nav-link {
    padding: .5rem .8rem;
}

.site-name {
    font-size: 1.30rem;
    letter-spacing: .1rem;
}

.tagline {
    position: relative;
    top: -5px;
    font-size: .70rem;
    letter-spacing: .1rem;
}

.text-lightprimary {
    color: #BBDEFB !important;
}

.active {
    position: relative;
    //color: #fff !important;
}

.page-header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.bg-opacity {
    background-color: rgba(0, 0, 0, 0.1);
}

.services-section {
    position: relative;
    z-index: 1;
}

.breadcrumb {
    display: inline;
    font-size: 75%;
    font-weight: normal;
}

.breadcrumb__separator {
    color: #2962ff;
}

.breadcrumb__link,
.breadcrumb__link:hover {
    color: #212121;
    text-decoration: none;
}

.breadcrumb__link__active {
    color: #2962ff;
}

.goTop {
    position: fixed;
    display: block;
    right: 75px;
    bottom: 0;
    background-color: #263238;
    border-radius: 4px 4px 0 0;
    color: #fff;
    width: 48px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    opacity: .9;
    z-index: 100000;
}

.goTop:hover {
    color: #b0bec5;
}

.site-nav__open,
.site-nav__close {
    position: relative;
    display: block;
    z-index: 999;
}

.site-nav__list {
    margin: 0;
    padding-top: 5rem;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    will-change: transform;
    background-color: rgba(13, 71, 161, 0.9);
    text-align: center;
}

.site-nav__active {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.breadcrumb__list {
    list-style: none;
    padding: 0;
}

.breadcrumb__item {
    display: inline;
}

@media(min-width:768px) {
    .site-name {
        font-size: 1.50rem;
    }

    .tagline {
        font-size: .82rem;
    }

    .site-nav__open,
    .site-nav__close {
        display: none;
    }

    .site-nav__list {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        padding: 0;
        background: none;
        overflow: visible;
        backdrop-filter: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}