// Bootstrap custom theme
$theme-colors: ("primary": #006aff,
   "dark": #031b4e,
  "secondary": #5b6987,
  "success" : #9ccc65,
  "warning": #ffc107);
$grid-gutter-width: 24px;

@import 'bootstrap.custom';
@import 'layout';
//#0d47a1
//#1565c0