// Bootstrap custom theme
$theme-colors: ("primary": #2962ff,
  "secondary": #757575,
  "success" : #9ccc65);
$grid-gutter-width: 24px;

@import 'bootstrap.custom';
@import 'layout';
//#0d47a1
//#1565c0