// Google Font - Nunito Sans
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700&display=swap');

$theme-colors: (
  "primary": #0D47A1,
  "secondary": #b0bec5,
  "success" : #9ccc65
);
@import 'bootstrap.custom';
@import 'layout';